body{
    margin: 0;
}

main{
    height: 100vh;
    display: flex;
}

.image-container{
    width: 46%;
    height: 100%;
    background-image: url(daniel-j-schwarz-unsplash.jpg);
    background-size: cover;
    background-position: top right;
}

.main-content{
    box-sizing: border-box;
    margin: 40px;
    width: 54%;
    display: flex;
    flex-direction: column;
}

.description{
    max-width: 500px;
}

.sign-up{
    margin-top: 10%;
}

form{
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
}

.input-container{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-bottom: 10px;
} 

label{
    text-transform: uppercase;
    font-size: 0.7em;
    color: #575757;
}

.input-container input{
    border: 1px solid #ededed;
    border-radius: 4px;
    padding: 4px 6px;
}

input[type="submit"]{
    background-color: #2292ac;
    border: 0;
    color: #fff;
    padding: 8px 18px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #ededed;
}

input[type="submit"]:hover{
background-color: #1f859c;
}

a{
    text-decoration: none;
    color: #2292ac;
}

a:hover{
    text-decoration: underline;
}