@font-face {
    font-family: 'Playfair Display';
    src: url(fonts/playfairdisplay-variablefont_wght-webfont.woff) format('woff'),
        url(fonts/playfairdisplay-variablefont_wght-webfont.woff2) format('woff2');
}

@media(max-width:576px) {
    .input-container {
        width: 90%;
    }

    .data-input {
        width: 90%;
    }

    h1, .input-container{
        margin-left: auto;
        margin-right: auto;
    }

    form{
        flex-direction: column;
    }

    input[type="submit"]{
        align-self: center;
    }

    .log-in{
        text-align: center;
    }
}

@media (min-width:576px) {
    .image-container {
        width: 46%;
        height: 100%;
        background-image: url(images/daniel-j-schwarz-unsplash.jpg);
        background-size: cover;
        background-position: top right;
    }

    main {
        display: flex;
    }

    .description {
        max-width: 500px;
    }

    .main-content {
        width: 54%;
    }

    form {
        flex-wrap: wrap;
        column-gap: 20px;
    }

    .data-input {
        max-width: 220px;
    }

    .input-container {
        width: 44%;
    }
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

main {
    height: 100vh;
}

.main-content {
    box-sizing: border-box;
    margin: 40px;
    display: flex;
    flex-direction: column;
}

h1 i {
    padding-right: 6px;
    font-size: 0.8em;
    color: #1f859c;
}

h1 {
    font-size: 2.4em;
    font-family: 'Playfair Display';
}

.sign-up {
    padding-top: 10%;
}

form{
    display: flex;
    width: 100%;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-bottom: 10px;
}

label {
    display: inline;
    text-transform: uppercase;
    font-size: 0.7em;
    color: #575757;
}

.data-input {
    border: 1px solid #ededed;
    border-radius: 4px;
    padding: 7px 6px;
}

.data-input:valid {
    border-color: #008000;
}

.data-input:focus {
    outline: 2px solid #1f859c;
    box-shadow: 2px 2px 6px #bfbfbf;
}

input[type="submit"] {
    background-color: #2292ac;
    border: 0;
    color: #fff;
    padding: 8px 18px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #bfbfbf;
    margin-top: 14px;
}

input[type="submit"]:hover {
    background-color: #1f859c;
}

a {
    text-decoration: none;
    color: #2292ac;
}

a:hover {
    text-decoration: underline;
}